<div class="home-container">
    <div class="col-top top">
        <div class="col-logos logos">
            <img class="img-logos" src="assets/images/logos.png" />
        </div>
        <div class="col-sign sign">
            <button class="btn-sign" (click)="login()">Iniciar Sesión</button>
            <img class="img-sign" (click)="login()" src="assets/images/sesion.svg" />
        </div>
        <div class="col-slogan slogan">

            <div class="col-slogan-title">
                <div class="col-l-slogan">
                </div>
                <div class="col-c-slogan">
                    <span class="title">Con Ruffles&reg; y OXXO&reg; podrás ganar un viaje directo al <span
                            class="oro">Superbowl 2020</span></span>
                </div>
                <div class="col-r-slogan">
                </div>
            </div>

            <div class="col-slogan-subtitle">
                <div class="col-l-slogan">
                </div>
                <div class="col-c-slogan">
                    <span class="subtitle">Al comprar productos Ruffles&reg; edición especial NFL en tiendas OXXO&reg;, deberás ingresar tus
                        tickets.</span>
                </div>
                <div class="col-r-slogan">
                </div>
            </div>

            <div class="col-slogan-btns">
                <div class="col-l-slogan">
                </div>
                <div class="col-c-slogan">
                    <div class="col-middle right"><button class="btn-secondary" (click)="login()">Ingresar Ticket</button></div>
                    <div class="col-middle left"><button class="btn-primary" (click)="login()">Descure Cómo</button></div>
                </div>
                <div class="col-r-logos2">
                    <img class="img-logos2" src="assets/images/logos2.png" />
                </div>
            </div>
        </div>
        <div class="col-pet pet ">
            <img class="img-pet" src="assets/images/ruffilio_1.png" />
        </div>
    </div>
    <div class="col-mecanica mecanica"></div>
    <div class="col-ranking ranking"></div>
    <div class="col-footer"></div>
</div>